table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 20px;
  }
  
  td {
    border: 2px solid rgb(0, 132, 255);
    padding: 3%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;

  }
  .clr{
    background-color: rgb(224, 205, 0);
    padding: 3%;
    margin: 3%;
  }
 body{
    background-color: rgb(105, 181, 247);
 }
 .table{
   
    margin: 5%;
 }
 #labels{
    background-color: rgb(198, 198, 198);
    color: aliceblue;
    padding: 3%;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 10%;
 }
 .heading{
    text-align: center;
    font-size: 28px;
    margin: 1.5%;
    background-color: aliceblue;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0.5%;
 }